# Default ignored files
/../../practica4-E.D./.idea/shelf/
/../../practica4-E.D./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../practica4-E.D./.idea/httpRequests/
# Datasource local storage ignored files
/../../practica4-E.D./.idea/dataSources/
/../../practica4-E.D./.idea/dataSources.local.xml
